<div ng-controller="searchController" class=" col-sm-6 col-md-6">
    <form class=" navbar-form" role="search" name="filterBooks">
        
        <div class="input-group">
            <input ng-model="search.q" type="text" class="form-control" placeholder="Search books">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>

        <div class="input-group" style="margin-right:10px;">
            <button type="button" class="btn btn-info dropdown-toggle" style="width: 150px;" data-toggle="dropdown" onclick="return false;">
                Sort By: {{ search.by }}
                <span class="caret"></span>
            </button>
            <ul ng-model="search.by" class="dropdown-menu" role="menu">
                <li><a ng-click="search.by = 'Title'">Title</a></li>
                <li><a ng-click="search.by = 'ISBN'">ISBN</a></li>
                <li><a class="divider"></a></li>
                <li><a ng-click="search.by = 'Author'">Author</a></li>
            </ul>
        </div>

        
    </form>
</div>