<div ng-controller="searchController" class=" col-sm-6 col-md-6">
    <form ng-submit="search(searchQuery)" class=" navbar-form" role="search" name="searchBooks">

        <div class="btn-group pull-left" style="margin-right:10px;">

            <button type="button" class="btn btn-info dropdown-toggle" style="width: 80px;" data-toggle="dropdown" onclick="return false;">
                {{ searchField }}
                <span class="caret"></span>
            </button>
            <ul ng-model="searchField" class="dropdown-menu" role="menu">
                <li><a ng-click="searchField = 'Name'">Name</a></li>
                <li><a ng-click="searchField = 'ISBN'">ISBN</a></li>
                <li><a class="divider"></a></li>
                <li><a ng-click="searchField = 'Author'">Author</a></li>
            </ul>
        </div>

        <div class="input-group">
            <input ng-model="searchQuery" type="text" class="form-control" placeholder="Search by book {{ searchField }}">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
</div>